@charset "UTF-8";
/*
Burgundy: 76323f
HKUST blue: #003366 
HKUST background light: #f3f3f3
Green: #1e747c */



:root {
  --theme: #1e747c;
  --contrast: #f3f3f3;
}

.navbar {
	background-color: var(--theme);
}

.footer {
	background-color: var(--theme);
}

.nav-link {
	color: white;
	font-size: 18px;
}

.jumbotron {
margin: 0px!important;
}

.carousel-caption {
	position: relative;
    left: auto;
    right: auto;
    color: black;
    padding-top: 3rem;
}

.section-header {
	color: var(--theme);
}

.btn-primary {
	background-color: var(--theme);
	border-color: var(--theme);
}

.bg-image .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fff;
}

.bg-image .mask .text{
    height: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.bg-image .mask .text p{
    margin:0;
}

.bg-contrast-color {
	background-color: var(--contrast);
}

